<h2>Criar usuário</h2>

<div>
  <label>Nome:
    <input placeholder="Insira o nome" [(ngModel)]="request.name">
  </label>
  <br><br><br>
  <label>Profissão:
    <input placeholder="Insira a profissão" [(ngModel)]="request.job">
  </label>
  <br><br><br>
  <button (click)="save()">Salvar</button>
</div>

<br><br>

<div *ngIf="response">
  <h3>Criado com sucesso!</h3>
  <label>Nome: {{response.name}}</label><br>
  <label>Profissão: {{response.job}}</label><br>
  <label>Id: {{response.id}}</label><br>
  <label>Criado em: {{response.createdAt}}</label><br>
</div>
